<form action="/users" method="POST">
<p>
    <label for="username">Username : </label>
    <input type="text" name="user[username]" id="username"/>
</p>
<p>
    <label for="email">Email : </label>
    <input type="email" name="user[email]" id="email"/>
</p>
<p>
    <label for="password">Password : </label>
    <input type="password" name="user[password]" id="password"/>
</p>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<p>
    <input type="submit" value="Save"/>
</p>
</form>